<!DOCTYPE html>
<html lang="pl">
<head>
	<meta charset="utf-8">
	<title><%= title %></title>
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="author" content="Dominik Bryła">
	<meta http-equiv="X-Ua-Compatible" content="IE=edge,chrome=1">
	<link rel="stylesheet" href="/css/main.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="/js/homePage.js"></script>
	<!--[if lt IE 9]>
	<script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
	<![endif]-->
</head>
<body>
    <div class='container'>
        <header>        
            <div class='logo'>
                <a href='/'>
                    <div class='home'>Good Hotel</div>
                </a>
                <div id='clock'>

				</div>
				<a href='/logout'>
					<div>Log Out</div>
				</a>
            </div>
		</header>
		