<% include partials/header.ejs %>
    <% if(message.length>0){ %>
        <div class="correctMessage"><%= message %></div>
    <% } %>
    <div class='wrapper'>
        <div class='add tile' onclick="location.href='/hire/new-manager'">
            Hire a worker
        </div>
        <div class='employees-list tile' onclick="location.href='/list/managers'">
            View list of Employees
        </div>
        <div onclick='location.href="/hire/new-director"'>
            Hire a new director
        </div>
        <div class='contact tile'>
           Contact
        </div>
            <div id='photo-hotel'>

            </div>
    </div>
</div>
