.deleteButton {
  margin-top: 5px;
  font-size: inherit;
  background: none;
  color: #b8b8b8;
  padding: 2px 3px;
  border: 1px solid #b8b8b8;
}

.deleteButton:hover {
  color: red;
  border: 1px solid red;
  cursor: pointer;
}
