.workerForm {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.formColumn {
  display: flex;
  flex-direction: column;
}

.inputRadioForm {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-width: 320px;
  height: 45px;
  font-size: inherit;
}

.inputRadioForm__Label {
  display: flex;
  justify-content: flex-start;
  width: 110px;
}

.inputRadioForm__CheckboxArea {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: baseline;
  width: 205px;
}

.inputRadioCheckbox {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  width: 80px;
}

.inputRadioForm__Position {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
