.inputForm {
  padding: 6px;
  box-sizing: border-box;
  font-size: inherit;
  border-bottom: 2px solid #b8b8b8;
  color: #32a859;
}

.inputForm__border--green {
  border-bottom-color: #32a859;
}
.inputForm__border--red {
  border-bottom-color: red;
}

.inputFormContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-width: 320px;
}
