.modal {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  background-color: white;
  padding: 25px 100px;
  border-radius: 10px;
  font-size: 22px;
  opacity: 1;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}

.modalButton {
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  font-size: inherit;
  background: none;
  color: #b8b8b8;
  padding: 10px 15px;
  border: 1px solid #b8b8b8;
  width: 100px;
}

.modalButton:hover {
  color: #32a859;
  border: 1px solid #32a859;
  cursor: pointer;
}
